.invoices {
    position: relative;
    padding: 32px 24px;
    background: var(--bg-color);
    min-height: calc(100vh - 72px);
    &--topbar {
        display: flex;
        margin-bottom: 3.2rem;
        &__title {}
        &__filter {
            flex-grow: 1;
            position: relative;
            &--text {
                position: absolute;
                width: max-content;
                right: 20px;
                top: 50%;
                transform: translate(0, -50%);
                // &::after {
                //   content: "";
                //   border-left: 20px solid transparent;
                //   border-right: 20px solid transparent;
                //   border-top: 20px solid #f00;
                // }
            }
            &--dropdown {
                display: none;
                background: var(--invoice-dropdown-bg);
                box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.25);
                border-radius: 8px;
                position: absolute;
                top: 100%;
                right: -25%;
                padding: 25px;
                width: 192px;
            }
        }
        &__add-new {
            & button {
                @media screen and (min-width: 768px) {
                    min-width: 150px;
                    padding: 0.8rem 0rem 0.8rem 1rem;
                }
            }
        }
    }
    &--invoice {
        padding: 2.4rem;
        margin-bottom: 1.6rem;
        background-color: var(--invoice-card-bg);
        box-shadow: 0px 10px 10px -10px rgba(72, 84, 159, 0.100397);
        border-radius: 8px;
        // grid
        display: grid;
        grid-template-columns: [col-start] 1fr [second] 1fr [col-end];
        grid-template-rows: [row-start] 29px [row-one-end] 23px [row-two-end] 24px [row-end];
        &>* {
            color: var(--color-text-1);
        }
        &__id {
            grid-column: 1 / span second;
            grid-row: row-start / row-one-end;
            & span {
                color: var(--gray-300);
                font-size: 1.2rem;
                font-weight: 700;
            }
            & p {
                display: inline-block;
            }
        }
        &__buyer {
            grid-column: 2 / span col-end;
            grid-row: row-start / row-one-end;
            text-align: right;
        }
        &__due {
            grid-column: 1 / span second;
            grid-row: row-one-end / row-two-end;
            & p {
                color: var(--color-text-2);
                font-weight: 500;
            }
        }
        &__price {
            grid-column: 1 / span second;
            grid-row: row-two-end / row-end;
            & p {
                font-weight: 700;
                font-size: 16px;
                line-height: 24px;
                letter-spacing: -0.8px;
            }
        }
        &__status {
            grid-column: 2 / span col-end;
            grid-row: row-one-end / row-end;
            &--wpr {
                border-radius: 0.6rem;
                width: 10.4rem;
                height: 4rem;
            }
            & .dot {
                width: 8px;
                height: 8px;
                margin: auto 0.8rem auto 0;
                border-radius: 50%;
            }
            & p {
                margin: auto 0;
            }
        }
    }
    &--empty {
        width: 80vw;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        & svg {
            margin-bottom: 4rem;
        }
        & h2 {
            margin-bottom: 2.4rem;
        }
        & p {
            min-width: 52vw;
            max-width: 199px;
            margin: 0 auto;
            & span {
                font-weight: 700;
            }
        }
    }
}

.clr-paid {
    &>.invoices--invoice__status--wpr {
        background-color: var(--light-green-fade);
    }
    &>.invoice-detail--status-bar__status--wpr {
        background-color: var(--light-green-fade);
    }
    & .dot {
        background: var(--light-green);
    }
    & p {
        color: var(--light-green);
    }
}

.clr-pending {
    &>.invoices--invoice__status--wpr {
        background-color: var(--light-orange-fade);
    }
    &>.invoice-detail--status-bar__status--wpr {
        background-color: var(--light-orange-fade);
    }
    & .dot {
        background: var(--light-orange);
    }
    & p {
        color: var(--light-orange);
    }
}

.clr-draft {
    &>.invoices--invoice__status--wpr {
        background-color: var(--invoice-card-draft-bg);
    }
    &>.invoice-detail--status-bar__status--wpr {
        background-color: var(--invoice-card-draft-bg);
    }
    & .dot {
        background: var(--color-text-3);
    }
    & p {
        color: var(--color-text-3);
    }
}

@media screen and (min-width: 768px) {
    .invoices--topbar {
        max-width: 730px;
        margin-left: auto;
        margin-right: auto;
    }
    .invoices--invoice {
        max-width: 730px;
        margin-left: auto;
        margin-right: auto;
        padding: 1.6rem 2.4rem;
        // 87/624 =0.1394 0.2291 0.2179 0.208 0.1987 0.006
        grid-template-columns: 14% 23% 22% 20% 19% 2%;
        grid-template-rows: auto;
        grid-template-areas: "id due buyer price status detail";
        // grid-template-rows: [row-start] 29px [row-one-end] 23px [row-two-end] 24px [row-end];
        &__id {
            grid-area: id;
            margin: auto 0;
        }
        &__due {
            grid-area: due;
            margin: auto 0;
        }
        &__buyer {
            grid-area: buyer;
            text-align: left;
            margin: auto 0;
        }
        &__price {
            grid-area: price;
            margin: auto 0;
        }
        &__status {
            grid-area: status;
            margin: auto 0;
        }
        &__arrow {
            grid-area: detail;
        }
    }
}

@media screen and (min-width: 1080px) {
    .invoices {
        min-height: 100vh;
    }
    .invoices--topbar__filter--dropdown {
        right: 0;
    }
}