.invoice-detail {
    position: relative;
    background: var(--bg-color);
    padding: 3.2rem 2.4rem;
    min-height: 100vh;
    & p {
        color: var(--color-text-4);
    }
    & .back-bar {
        display: flex;
        gap: 0.8rem;
        align-items: center;
        margin-bottom: 3.2rem;
        & p {
            color: var(--color-text-1);
            padding-top: 4px;
        }
    }
    &--status-bar {
        margin-bottom: 1.6rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        & .status-wpr {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            @media screen and (min-width: 768px) {
                max-width: 15.9rem;
            }
        }
        & .buttons-wpr {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 0.8rem;
        }
    }
    &--sheet {
        &__order {
            margin-bottom: 3rem;
            & .invoice-id {
                margin-bottom: 0.4rem;
                &>p {
                    display: inline-block;
                    font-weight: bold;
                }
                & span {
                    color: var(--color-text-1);
                }
            }
        }
        &__address {
            margin-bottom: 3rem;
        }
        &__date-bill {
            display: grid;
            grid-template-columns: repeat(1fr, 2);
            grid-template-rows: auto;
            margin-bottom: 3.6rem;
            & .title-sm {
                margin-bottom: 1.2rem;
            }
            &--date {
                grid-column: 1 / span 1;
                grid-row: 1 / 2;
            }
            &--due {
                grid-column: 1 / span 1;
                grid-row: 2 / 3;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: flex-end;
            }
            &--bill {
                grid-column: 2 / span 1;
                grid-row: 1 / 3;
                & .name {
                    margin-bottom: 0.8rem;
                }
                & .address-line {
                    margin-bottom: 0.3rem;
                }
            }
            & h3 {
                color: var(--color-text-1)
            }
        }
        &__sent-to {
            margin-bottom: 4rem;
            & p {
                margin-bottom: 1.2rem;
            }
            & h3 {
                color: var(--color-text-1)
            }
        }
        &__products-wpr {
            background: var(--bg-card-2);
            border-radius: 0 0 8px 8px;
        }
        &__products-wpr-desktop {
            flex-direction: column;
            & .products-top {
                padding: 3rem 2.4rem 4rem 2.4rem;
            }
            & .products-bottom {
                display: flex;
                justify-content: space-between;
                width: 100%;
                & .amount-text {
                    font-weight: 500;
                    font-size: 11px;
                    line-height: 18px;
                    letter-spacing: -0.229167px;
                    color: var(--white);
                }
                & .amount-total {
                    font-weight: 700;
                    font-size: 24px;
                    line-height: 32px;
                    text-align: right;
                    letter-spacing: -0.5px;
                    color: var(--white);
                }
            }
        }
    }
}

.products-top,
.products-bottom {
    width: 100%;
    padding: 2.4rem;
    border-radius: 8px 8px 0px 0px;
    background: var(--bg-card-2);
    &--item {
        display: flex;
        justify-content: space-between;
        align-content: center;
        margin-bottom: 0.8rem;
        & :last-child {
            margin-bottom: 0;
        }
        & .detail-name {
            color: var(--color-text-1);
            margin-bottom: 0.8rem;
        }
        & .detail-price {
            color: var();
        }
        & .detail-total {
            color: var(--color-text-1);
        }
        &__amount {
            align-self: center;
            & p {
                color: var(--color-text-1);
            }
        }
    }
}

.products-bottom {
    background: var(--bg-card-3);
    border-radius: 0 0 8px 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    & p,
    h2 {
        color: var(--white);
    }
}

.invoice-detail-functions {
    & .buttons-wpr {
        max-width: 414px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.8rem;
        & button {
            flex: 0 0;
        }
    }
    padding: 2.1rem 2.4rem;
    bottom: 0;
    width: 100vw;
    background: var(--bg-card);
}

.card {
    background: var(--bg-card);
    border-radius: 8px;
    box-shadow: 0px 10px 10px -10px rgba(72, 84, 159, 0.100397);
    border-radius: 8px;
    padding: 24px;
}

.invoice-detail--status-bar__status--wpr {
    border-radius: 0.6rem;
    width: 10.4rem;
    height: 4rem;
    & p {
        padding-top: 4px;
    }
}

.products-detail-grid-wpr {
    width: 100%;
    display: grid;
    grid-template-columns: 45% 5% 25% 25%;
    grid-template-rows: auto;
    grid-template-areas: "name qty price total";
    margin-bottom: 3.2rem;
    &:last-child {
        margin-bottom: 0;
    }
    & .item-name {
        grid-area: name;
    }
    & .qty {
        grid-area: qty;
        justify-self: center;
    }
    & .product-price {
        grid-area: price;
        justify-self: flex-end;
    }
    & .product-total {
        grid-area: total;
        justify-self: flex-end;
    }
    & .product-detail-title {
        color: var(--color-text-2);
        font-family: 'Spartan';
        font-weight: 500;
        font-size: 11px;
        line-height: 18px;
        letter-spacing: -0.23px;
    }
    & .product-detail-value {
        color: var(--color-text-1);
        font-family: 'Spartan';
        font-weight: 700;
        font-size: 12px;
        line-height: 15px;
        letter-spacing: -0.25px;
    }
}