:root {
    --deep-dark: #1e2139;
    --light-dark: #252945;
    --light-dark-100: #373b53;
    --light-dark-100-fade: rgba(55, 59, 83, 0.06);
    --deep-purple: #7c5dfa;
    --light-purple: #9277ff;
    --light-purple-100: #dfe3fa;
    --light-purple-200: #f9fafe;
    --light-purple-100-fade: rgba(223, 227, 250, 0.06);
    --dark-bg: #141625;
    --light-bg: #f8f8f8;
    --gray-100: #dfe4fa;
    --gray-200: #888eb0;
    --gray-300: #7e88c3;
    --gray-400: #0c0e16;
    --light-gray: #494e6e;
    --light-gray-100: #979797;
    --light-gray-200: #777F98;
    --white: #ffffff;
    --light-green: #33d69f;
    --light-green-fade: rgba(51, 214, 159, 0.12);
    --red: #EC5757;
    --light-orange: #ff8f00;
    --light-orange-fade: rgba(255, 143, 0, 0.06);
}

.dark {
    --bg-nav-color: var(--deep-dark);
    --color-text-1: var(--white);
    --color-text-2: var(--light-purple-100);
    // color-text-3 used in invoice single card status
    --color-text-3: var(--light-purple-100);
    --color-text-4: var(--light-purple-100);
    --invoice-dropdown-bg: var(--light-dark);
    --invoice-card-bg: var(--deep-dark);
    --invoice-card-draft-bg: var(--light-purple-100-fade);
    --bg-card: var(--deep-dark);
    --btn-color-1: var(--light-purple-100);
    --bg-card-2: var(--light-dark);
    --bg-card-3: var(--gray-400);
    --bg-color: var(--dark-bg);
    --checkbox-bg: var(--deep-dark);
    --black-white: var(--dark-bg);
    --input-border: var(--light-dark);
}

.light {
    --bg-nav-color: var(--light-dark-100);
    --color-text-1: var(--gray-400);
    --color-text-2: var(--gray-300);
    --invoice-card-draft-bg: var(--light-dark-100-fade);
    --invoice-dropdown-bg: var(--white);
    --color-text-3: var(--light-dark-100);
    --color-text-4: var(--gray-300);
    --invoice-card-bg: var(--white);
    --bg-color: var(--light-bg);
    --bg-card: var(--white);
    --btn-color-1: var(--light-purple-200);
    --bg-card-2: var(--light-purple-200);
    --bg-card-3: var(--light-dark-100);
    --checkbox-bg: var(--light-purple-100);
    --black-white: var(--white);
    --input-border: var(--light-purple-100);
}

.d-none {
    display: none !important;
}

.d-flex {
    display: flex;
}

.d-flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.d-flex-end {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.justify-content-between {
    justify-content: space-between;
}

@media screen and (min-width: 1080px) {
    .flex-direction-xxl-col {
        flex-direction: column;
    }
}

.arrow-down {
    width: 1.25rem;
    height: 1.25rem;
    display: inline-block;
    position: relative;
    margin: 0 1rem;
    & span {
        top: 0.5rem;
        position: absolute;
        width: 0.75rem;
        height: 0.1rem;
        background-color: var(--deep-purple);
        display: inline-block;
        transition: all 0.2s ease;
        &:first-of-type {
            left: 0;
            transform: rotate(45deg);
        }
        &:last-of-type {
            right: 0;
            transform: rotate(-45deg);
        }
    }
}

.d-flex-lg {
    @media screen and (min-width: 1080px) {
        display: flex;
    }
}

.t-center {
    text-align: center;
}

.d-block {
    display: block !important;
}

.d-block-md {
    display: none;
    @media screen and (min-width: 768px) {
        display: block;
    }
}

.d-flex-md {
    display: none !important;
    @media screen and (min-width: 768px) {
        display: flex !important;
    }
}

@media screen and (min-width: 768px) {
    .d-flex-start-md {
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
}

.cursor-pointer {
    cursor: pointer;
}

.dot {
    width: 8px;
    height: 8px;
    margin: auto 0.8rem auto 0;
    border-radius: 50%;
}

.clr-black {
    color: var(--gray-400) !important;
}

.only-mobile {
    display: block;
    @media (min-width: 768px) {
        display: none;
    }
}