*,
*::after,
*::before {
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    margin: 0;
    font-family: "Spartan", sans-serif, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

main {
    display: block;
    position: relative;
    background: var(--bg-color);
    @media screen and (min-width: 1080px) {
        width: calc(100vw - 103px);
    }
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

html,
body,
h1,
h2,
h3,
h4,
p {
    margin: 0;
    padding: 0;
}

ol,
ul {
    list-style: none;
}